/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png) center / cover;
  --outline-and-font-color-accent: #ff0070;
  --header-font-color: #db00ff;
  --font-color: #f1b2ce;
  --font-color-accent-and-bg-color: #000028;
  --header-font-color-button: #ff0070;
  --header-border-button: rgba(255, 0, 112, 0.5);
  --angular-border: #ff0070;
  --card-question-color: #ff0070;
  --header-rec: "REC";
  --circl-radius: 9px;
  --shadow: 2px 2px var(--outline-and-font-color-accent);
  --shadow-rec: 0 0 4px 2px var(--outline-and-font-color-accent);
  --background-color: #000028;
}
