/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png) center / cover;
  --outline-and-font-color-accent: #ff8dcb;
  --header-font-color: #ffc2e6;
  --font-color: #353430;
  --font-color-accent-and-bg-color: #353430;
  --header-font-color-button: #353430;
  --header-border-button: #353430;
  --angular-border: #353430;
  --card-question-color: #353430;
  --header-rec: "";
  --circl-radius: 0;
  --shadow: 2px 2px var(--outline-and-font-color-accent);
  --shadow-rec: none;
  --background-color: none;
}

:root.theme-light {
  /* Переменные светлой темы */
  --background-image: url(../images/cover-image-light.png) center / cover;
  --outline-and-font-color-accent: #ff8dcb;
  --header-font-color: #ffc2e6;
  --font-color: #353430;
  --font-color-accent-and-bg-color: #353430;
  --header-font-color-button: #353430;
  --header-border-button: #353430;
  --angular-border: #353430;
  --card-question-color: #353430;
  --header-rec: "";
  --circl-radius: 0;
  --shadow: 2px 2px var(--outline-and-font-color-accent);
  --shadow-rec: none;
  --background-color: none;
}
/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --background-image: url(../images/cover-image-light.png) center / cover;
    --outline-and-font-color-accent: #ff8dcb;
    --header-font-color: #ffc2e6;
    --font-color: #353430;
    --font-color-accent-and-bg-color: #353430;
    --header-font-color-button: #353430;
    --header-border-button: #353430;
    --angular-border: #353430;
    --card-question-color: #353430;
    --header-rec: "";
    --circl-radius: 0;
    --shadow: 2px 2px var(--outline-and-font-color-accent);
    --shadow-rec: none;
    --background-color: none;
  }
}
