/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  position: relative;
  margin: 0;
  background: url(../images/cover-image-dark.png) center / cover;
  width: 100%;
  height: 768px;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "header__theme-menu header__theme-menu"
  "header__title header__title"
  ". header__paragraph";
}

.decorated-zone {
  width: 100%;
  max-width: 1024px;
  height: 768px;
}

.header__theme-menu {
  grid-area: header__theme-menu;
}

.header__theme-menu-list {
  margin-block-start: 20px;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.header__theme-menu-item {
  width: auto;
}

.header__theme-menu-item:hover {
  border: 1px solid var(--dark-outline-and-font-color-accent);
  cursor: pointer;
}

.header__theme-menu-button {
  width: 70px;
  height: 100%;
  background-color: transparent;
  font-family: var(--font);
  text-transform:lowercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: var(--dark-outline-and-font-color-accent);
  border: none;
}

.header__title {
  grid-area: header__title;
  padding-block-end: 63px;
  display: flex;
  align-items: end;
  font-family: var(--font);
  font-weight: 700;
  font-size: 157px;
  line-height: 83%;
  color: var(--dark-header-font-color);
  text-shadow: 4px 4px 0 var(--dark-outline-and-font-color-accent);
}

.header__paragraph {
  grid-area: header__paragraph;
  padding-block-start: 51px;
  padding-inline-end: 20px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--dark-font-color-accent-and-bg-color);
}

.title-decor {
  font-family: var(--font);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--dark-font-color-accent-and-bg-color);
  margin-block-end: 10px;
  display: block;
  background-color: var(--dark-outline-and-font-color-accent);
}

.header-title {
  margin-block-end: 0;
}

.header::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--dark-outline-and-font-color-accent);
  border-right: 1px solid var(--dark-outline-and-font-color-accent);
  width: 25px;
  height: 25px;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--dark-outline-and-font-color-accent);
  border-left: 1px solid var(--dark-outline-and-font-color-accent);
  width: 25px;
  height: 25px;
  z-index: 1;
}

.header__theme-menu::before {
  content: "REC";
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--dark-outline-and-font-color-accent);
  font-family: var(--font);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
}

.header__theme-menu::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 29px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  fill: var(--dark-outline-and-font-color-accent);
  box-shadow: 0 0 4px 2px var(--dark-outline-and-font-color-accent);
  background-color: var(--dark-outline-and-font-color-accent);
}

/*......................CARD_WHY.......................*/

.card__why {
  padding-inline: 20px ;
  padding-block-start: 60px;
  display: grid;
  grid-template-columns: calc( (100% * (325 / (325 + 650))) + 0.7%) calc( (100% * (650 / (325 + 650))) - 0.7%);
  /*column-gap: 20px;*/
  max-width: 1024px;
}

.card-question {
  padding-inline-end: 20px;
  grid-column: 1 / 2;
  font-family: var(--font);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--dark-outline-and-font-color-accent) ;
}

.card-text {
  font-family: var(--font);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--dark-font-color);
}

.card__why__text {
  grid-column: 2 / 3;
}

.card__why__text:not(:last-child) {
  margin-block-end: 20px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--dark-outline-and-font-color-accent);
}

.card__what {
  padding-inline: 20px ;
  padding-block-start: 80px;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 40px) / 3));
  grid-template-rows: 47px auto;
  gap: 20px;
  max-width: 1024px;
}

.card__what__question {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.card__what__text-multitasking {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.card__what__text-food {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.card__what__text-gadgets {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.card__how {
  padding-inline: 20px ;
  padding-block-start: 80px;
  display: grid;
  grid-template-columns: calc((100% * (325 / (325 + 650))) + 0.7%) calc((100% * (650 / (325 + 650))) - 0.7%);
  /*column-gap: 20px;*/
  max-width: 1024px;
}

.card__how__question {
  margin-block-end: 20px;
}

.title-accent {
  font-weight: 400;
}

.accent-margin-title {
  margin-block-end: 20px;
}

/*...........................IMAGE_CARD...................................*/

.images-card {
  max-width: 1024px;
  padding-block-start: 80px;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
}

.cards {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(3, calc((100% - 40px) / 3));
  column-gap: 20px;
  grid-template-rows: 260px 20px 315px 25px 428px;
  list-style-type: none;
}

.cards__item {
  display: grid;
  overflow: hidden;
}

.card_sunset {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.card_sunset .card__img {
  width: 100%;
  height: 100%;
}

.card_books {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.card_books .card__img {
  width: 100%;
  height: 100%;
}

.card_ice-cream {
  grid-row: 1 / 4;
  grid-column: 3 / 4;
}

.card_ice-cream .card__img {
  width: 100%;
  height: 100%;
}

.card_tape {
  grid-row: 3 / 6;
  grid-column: 1 / 2;
}

.card_tape .card__img {
  width: 100%;
  height: 100%;
}

.card_street {
  grid-row: 5 / 6;
  grid-column: 2 / 4;
}

.card_street .card__img {
  width: 100%;
  height: 100%;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

  /*......................FOOTER.......................*/

.footer {
  position: relative;

  margin-block-start: 60px;
  padding-inline: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1024px;
  height: 100vh;
}

.footer__title {
  font-family: var(--font);
  font-weight: 700;
  font-size: 157px;
  line-height: 83%;
  color: var(--dark-header-font-color);
  text-shadow: 2px 2px 0 var(--dark-outline-and-font-color-accent);
}

.footer::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--dark-outline-and-font-color-accent);
  border-right: 1px solid var(--dark-outline-and-font-color-accent);
  width: 25px;
  height: 25px;
  z-index: 1;
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--dark-outline-and-font-color-accent);
  border-left: 1px solid var(--dark-outline-and-font-color-accent);
  width: 25px;
  height: 25px;
  z-index: 1;
}

/*........................................................MEDIA..............................................................................*/

@media (max-width: 768px) {
  .header {
    height: 100vh;
    grid-template-rows: repeat(3, 1fr);
  }

  .header__theme-menu {
    padding-block: 170px 50px;
    padding-inline-end: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .header__theme-menu-list {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .header__theme-menu-item {
    width: auto;
  }

  .header__title {
    align-items: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block-end: 0;
    padding-inline-start: 5px;
  }

  .header__paragraph {
    padding-block-start: 40px;
    padding-inline: 0 20px;
  }

  /*......................CARDS.......................*/

  .card__why {
    grid-template-columns: calc(100% * (256 / (256 + 472))) calc(100% * (472 / (256 + 472)));
  }

  .card-question {
    word-break: break-all;
    padding-inline-end: 20px;
  }

  .card__what {
    display: flex;
    flex-direction: column;
  }

  .card__how {
    grid-template-columns: calc(100% * (256 / (256 + 472))) calc(100% * (472 / (256 + 472)));
  }

  
  .card__what__question {
    max-width: 200px ;
  }

  /*......................IMAGE_CARD.......................*/

  .cards {
    grid-template-columns: repeat(3, calc((100% - 40px) / 3));
    grid-template-rows: 192px 20px 230px 20px 318px;
  }

  /*......................FOOTER.......................*/

  .footer {
      margin-block-start: 60px;
      padding-inline: 20px;
      width: 100%;
      height: 100vh;
    }

  .footer__title {
    font-size: 120px;
  }
} 

/*...............................................................*/

@media (max-width: 375px) {
  .page {
    width: 100vh;
    max-width: 375px; ;
  }

  .header__theme-menu {
    padding-block: 50px;
    padding-inline-end: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .header__theme-menu-list {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .header__theme-menu-item {
    width: auto;
  }

  .header__title {
    align-items: center;
    padding-block-end: 0;
    padding-inline-start: 10px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
    "header__theme-menu"
    "header__title"
    "header__paragraph";
  }

  .header__paragraph {
    padding-block-start: 38px;
    padding-inline: 10px;
  }

  .header::before {
    top: 10px;
    right: 10px;
  }
  
  .header::after {
    bottom: 10px;
    left: 10px;
  }
  
  .header__theme-menu::before {
    top: 10px;
    right: 38px;
  }

  .header__theme-menu::after {
    top: 18px;
    right: 19px;
  }

  /*......................CARDS.......................*/

  .card__why {
    padding-inline: 10px ;
    padding-block-start: 40px;
    display: flex;
    flex-direction: column;
    column-gap: 0;
  }

  .card__why__text:not(:last-child) {
    margin-block-start: 20px;
  }

  .card-question {
    min-width: 300px ;
  }

  .card__what {
    padding-inline: 10px ;
    padding-block-start: 50px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .card__what__question {
    margin-block-end: 20px;
  }

  .card__what__text:not(:last-child) {
    margin-block-end: 20px;
  }

  .card__how {
    padding-inline: 10px ;
    padding-block-start: 50px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .card__how .card__why__text:not(:last-child) {
    margin-block-end: 20px;
  }

  .card__how .card__why__text {
    margin-block-start: 0;
  }

  /*......................IMAGE_CARD.......................*/

  .images-card {
    padding-block-start: 50px;
    padding-inline: 10px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-inline: 0;
  }

  .images-card .accent-margin-title {
    margin-block-end: 10px;
  }

  .card_sunset .card {
    max-height: 142px;
  }

  .card_ice-cream .card {
    max-height: 355px;
  }
  
  .card_tape .card {
    max-height: 237px;
  }
  
  .card_books .card {
    max-height: 355px;
  }
  
  .card_street .card {
    max-height: 237px;
  }

  /*......................FOOTER.......................*/

  .footer {
    margin-block-start: 40px;
    padding-inline: 20px;
    width: 100%;
    height: 100vh;
  }
  
  .footer__title {
    font-size: 116px;
  }
  
  .footer::before {
    top: 10px;
    right: 10px;
  }
  
  .footer::after {
    bottom: 10px;
    left: 10px;
  }
  
} 
